[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-5.0.x.cfg

package-name = briefy.cp

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
verbose-security = on
eggs +=
    Plone
    briefy.cp
    plone.restapi
    eea.facetednavigation
    eea.faceted.vocabularies
    collective.z3cform.datagridfield
    pas.plugins.authomatic
    Pillow


[versions]
zc.buildout = 2.9.3
setuptools = 33.1.1